<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Navigation -->
    <nav th:replace="admin/_fragment :: navi(1)"  class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog Management</h2>
                <a href="index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
                <a href="classification.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>Classification</a>
                <a href="tags.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img th:src="@{/images/profile.jpg}" alt="profile-picture" class="ui avatar image">
                            Ezra Chai
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="" class="item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar" class="ui black menu icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs}" class="active teal item">List</a>
                <a href="post.html" th:href="@{/admin/blogs/post}" class="item">Post</a>
            </div>

        </div>

    </div>
    <br/>


    <!-- 中间内容 -->
    <div class="m-container m-padding-tb-large">
        <div class="ui container">
            <form action="#" class="ui secondary segment form" method="post">
                <input type="hidden" name="page">
                <div class="inline fields">
                        <div class="field">
                            <input type="text" name="title" placeholder="Title">
                        </div>
                        <div class="field">
                            <div class="ui labeled action input">
                                <div class="ui type selection dropdown">
                                    <input type="hidden" name="typeId">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Type</div>
                                    <div class="menu">
                                        <div th:each="type:${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                        <!--/*-->
                                        <div class="item" data-value="2">开发者手册</div>
                                        <!--*/-->
                                    </div>
                                </div>
                                <button id="clear" class="ui compact button">Clear</button>
                            </div>

                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="recommend" name="recommend">
                                <label for="recommend" style="cursor:pointer;">Recommend</label>
                            </div>
                        </div>
                        <div class="field">
                             <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>Search</button>
                        </div>

                </div>
            </form>

            <div id="table-container">
               <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Recommend</th>
                        <th>Published</th>
                        <th>Updated Time</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blog,iterStat:${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">刻意练习清单</td>
                        <td th:text="${blog.type.name}">认知</td>
                        <td th:text="${blog.recommend ? 'Yes':'No'}">是</td>
                        <td th:text="${blog.publish ? 'Published':'Draft'}">是</td>
                        <td th:text="${blog.updateTime}">15-1-2021</td>
                        <td>
                            <a href="" th:href="@{/admin/blogs/{id}/edit(id = ${blog.id})}" class="ui mini teal button">Edit</a>
                            <a href="" th:href="@{/admin/blogs/{id}/delete(id = ${blog.id})}" class="ui mini red button">Delete</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">
                                <button onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}" class="icon item">
                                    Previos Page
                                </button>

                                <button onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}" class="icon item">
                                    Next Page
                                </button>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/post}" class="ui right floated teal mini basic button">Add new</a>
                        </th>
                    </tr>
                </tfoot>
            </table>

                <div id="close" class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="ui header">Tips: </div>
                    <p th:text="${message}">Nice</p>
                </div>

            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>


    <!-- 底部 -->
    <footer th:replace="admin/_fragment :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column m-mobile-hide ">
                    <div class="ui inverted link list">
                        <img th:src="@{/images/qr-code.png}" alt="qr-code" class="ui rounded image" style="width:110px;">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Newest Blog</h4>
                    <div class="ui inverted link list m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">关于刻意练习的清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Talk To Me</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">Email: juanzhe22@gmail.com
                            Instagram: juanzhx_
                        </p>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Blog</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">This is my own blog. This is used to post some coding or some articles that I think is useful as a person. I hope this blog page can help you out in your life.</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div>
                <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">Copyright &copy; 2021   Blog Designed by Ezra Chai</p>
            </div>
        </div>
    </footer>

   <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $("#sidebar").click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        })
        $('.ui.dropdown').dropdown()

        function page(obj){
            $('[name="page"]').val($(obj).data("page"));
            loadData();
        }

        $("#clear").on('click',function (){
            $('.ui.type.dropdown').dropdown('clear')
        })

        $("#search-btn").on('click',function (){
            $('[name="page"]').val(0);
            loadData();
        })

        $("#close").on('click',function (){
            $(this).closest('.message').transition('fade')
        })

        function loadData(){
            $("#table-container").load("/admin/blogs/search",{
                title: $("[name='title']").val(),
                typeId: $("[name='typeId']").val(),
                recommend: $("[name='recommend']").prop('checked'),
                page: $("[name='page']").val(),
            })
        }
    </script>
</body>
</html>
