<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificaton</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{lb/editor.md/css/editormd.css}" />

</head>
<body>
    <!-- Navigation -->
    <nav th:replace="admin/_fragment :: navi(2)"  class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog Management</h2>
                <a href="index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
                <a href="classification.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>Classification</a>
                <a href="tags.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img th:src="@{/images/profile.jpg}" alt="profile-picture" class="ui avatar image">
                            Ezra Chai
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="" class="item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar" class="ui black menu icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class=" teal item" th:href="@{/admin/tags}">List</a>
                <a href="post.html" th:href="@{/admin/tags/add-new}" class="active teal item">Add New</a>
            </div>

        </div>

    </div>
    <br/>


    <!-- 中间内容 -->
    <div class="m-container m-padding-tb-large">
        <div class="ui container">
            <form th:action="@{/admin/types/{id}(id = *{id})}" method="post" th:object="${type}" class="ui form">

                <input type="hidden" name="id" th:value="*{id}">
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">Name</label>
                        <input type="text" name="name" th:value="*{name}" placeholder="Classification's name">
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                    <i class="close icon"></i>
                    <div class="ui header">Failed</div>
                    <p th:text="*{name}">Sent message does not meet the rules. </p>
                </div>


                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Return</button>
                    <button type="button" class="ui teal submit button" >Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br>



    <!-- 底部 -->
    <footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    </footer>

   <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $("#sidebar").click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        })
        $('.ui.dropdown').dropdown()

        $('.ui.form')
        .form({
            fields: {
                title: {
                    identifier: 'name',
                    rules: [{
                        type: 'empty',
                        prompt: ' Please enter the Classification\'s name. '
                    }]}
            }
        })

    </script>

</body>
</html>
