<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/lb/editor.md/css/editormd.css}" />

</head>
<body>
    <!-- Navigation -->
    <nav th:replace="admin/_fragment :: navi(1)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">

        <a href="#" id="sidebar" class="ui black menu icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="index.html" th:href="@{/admin/blogs}" class="item">List</a>
                <a href="#" th:href="@{/admin/blogs/post}" class="active teal item">Post</a>
            </div>

        </div>

    </div>
    <br/>


    <!-- 中间内容 -->
    <div class="m-container-large m-padding-tb-large">
        <div class="ui container">
            <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs/add-new}" method="post" class="ui form">
                <input type="hidden" name="publish">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="required field">
                    <div class="ui left labeled input">
                    <div class="ui teal basic compact selection dropdown label">
                        <input type="hidden" value="original" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <div class="default text">Original</div>
                        <div class="menu">
                            <div class="item" data-value="original">Original</div>
                            <div class="item" data-value="repost">Repost</div>
                            <div class="item" data-value="translate">Translate</div>
                        </div>
                    </div>
                        <input type="text" th:value="*{title}" name="title" placeholder="Title">
                </div>
                </div>
                <div class="required field">
                    <div id="md-content" style="z-index:1 !important;">
                        <textarea placeholder="Blog's Content" th:text="*{content}" name="content" style="display:none;">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;
                        </textarea>
                    </div>
                </div>

                <div class="two fields">
                    <div class="required field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Type</label>
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="type.id" th:value="*{type}!=null?*{type.id}">
                                <i class="dropdown icon"></i>
                                <div class="default text">Type</div>
                                <div class="menu">
                                    <div th:each="type:${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                    <!--<div class="item" data-value="1">错误日志</div>
                                    <div class="item" data-value="2">开发手册</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Tags</label>
                            <div class="ui tag fluid multiple search selection dropdown" >
                                <input type="hidden" name="tagsIds" th:value="*{tagsIds}">
                                <i class="ui =icon"></i>
                                <div class="default text">Tags</div>
                                <div class="menu">
                                    <div th:each="tag: ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">Java</div>
                                    <!--<div class="item" data-value="2">Javascript</div>
                                    <div class="item" data-value="2">React</div>
                                    <div class="item" data-value="2">SpringBoot</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">Picture</label>
                        <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="Picture URL">
                    </div>
                </div>

                <div class="required field">
                    <textarea placeholder="Description" th:text="*{description}" name="description" maxlength="200"></textarea>
                </div>

                <div class="inline fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" th:checked="*{recommend}" name="recommend" checked class="hidden">
                            <label for="recommend">Recommend</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="shareStatement" th:checked="*{shareStatement}" name="shareStatement" class="hidden">
                            <label for="shareStatement">Reshare statement</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
                            <label for="appreciation">Like</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="commentabled" name="commentabled" th:checked="*{commentabled}" class="hidden">
                            <label for="commentabled">Comment</label>
                        </div>
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Return</button>
                    <button type="button" id="save-btn" class="ui secondary button" >Save</button>
                    <button type="button" id="publish-btn" class="ui teal button" >Publish</button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <br/>


    <!-- 底部 -->
    <footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column m-mobile-hide ">
                    <div class="ui inverted link list">
                        <img th:src="@{/images/qr-code.png}" alt="qr-code" class="ui rounded image" style="width:110px;">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Newest Blog</h4>
                    <div class="ui inverted link list m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">关于刻意练习的清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Talk To Me</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">Email: juanzhe22@gmail.com
                            Instagram: juanzhx_
                        </p>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Blog</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere in impedit repellendus doloremque nihil sint ducimus eaque fugiat quod vitae recusandae voluptate, dolorum totam? Corrupti perspiciatis saepe quae cum consectetur?</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div>
                <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">Copyright &copy; 2021   Blog Designed by Ezra Chai</p>
            </div>
        </div>
    </footer>

   <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $("#sidebar").click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        })
        $('.ui.dropdown').dropdown()

        $('.ui.form')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter the Blog\'s title.'
                    }]},
                content: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter the Blog\'s content.'
                    }]},
                typeId: {
                    identifier: 'typeId',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please select the Blog\'s type.'
                    }]},
                firstPicture: {
                    identifier: 'firstPicture',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter the Picture URL.'
                    }]},
                description: {
                    identifier: 'description',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter the Blog\'s description.'
                    }]},
            }
        })

        $("#save-btn").on("click",function(){
            $("[name='publish']").val(false);
            $("#blog-form").submit();
        })
        $("#publish-btn").on("click",function(){
            $("[name='publish']").val(true);
            $("#blog-form").submit();
        })

        $(".ui.tag.dropdown").dropdown({
            allowAdditions:true
        });
    </script>

    <script th:src="@{/lb/editor.md/editormd.min.js}"></script>
        <script type="text/javascript">
			let testEditor;

            $(function() {
                testEditor = editormd("md-content",{
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "/lb/editor.md/lib/"
                });

                /*
                // or
                testEditor = editormd({
                    id      : "test-editormd",
                    width   : "90%",
                    height  : 640,
                    path    : "../lib/"
                });
                */
            });
        </script>
</body>
</html>
