<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Navigation -->
    <nav th:replace="_fragment :: navi(2)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item"></i>Blog</h2>
                <a href="index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>Home</a>
                <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>Classification</a>
                <a href="tags.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
                <a href="achieve.html" class="m-item item m-mobile-hide"><i class="clone icon"></i>Archive</a>
                <a href="profile.html" class="m-item item m-mobile-hide"><i class="user outline icon"></i>About Me</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon inverted transparent input m-searchbar">
                        <input type="text"placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar" class="ui black menu icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
    <br/>


    <!-- 中间内容 -->
    <div class="m-container-small m-padding-tb-big">
        <div class="ui container">
            <!-- header -->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h2 class="ui teal header">Classification</h2>
                    </div>
                    <div class="right aligned column">
                        Total Of <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}"> 14 </h2>  Classifications
                    </div>
                </div>
            </div>
                <div class="ui bottom attached bottom segment ">
                <div class="ui labeled button m-margin-tb-tiny " th:each="type:${types}">
                    <a href="#" th:href="@{/classification/{id}(id = ${type.id})}" th:classappend="${type.id == activeTypeId}?'teal'" class="ui basic button" th:text="${type.name}">Study Routine</a>
                    <div class="ui basic label left pointing" th:classappend="${type.id == activeTypeId}?'teal'" th:text="${#arrays.length(type.blogs)}">24</div>
                </div>
                    <!--/*-->
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">Javascript</a>
                    <div class="ui basic label left pointing">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">Javascript</a>
                    <div class="ui basic label left pointing">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">Javascript</a>
                    <div class="ui basic label left pointing">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">Javascript</a>
                    <div class="ui basic label left pointing">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic button">Javascript</a>
                    <div class="ui basic label left pointing">24</div>
                </div>
                    <!--*/-->
            </div>
        </div>
        <div class="ui negative message" th:if="${page.totalElements} == 0">
            <div class="ui header">Opps</div>
            <p>There is no blog link with this classification.</p>
        </div>
            <div class="ui teal top attached segment m-padded-l" th:if="${page.totalElements} gt 0">
                <div class="ui padded vertical segment m-padding-tb-small" th:each="blog : ${page.content}">
                    <div class="ui middle mobile reversed stackable grid" >
                        <div class="eleven wide column">
                            <h3 class="header center align"><a href="#" th:href="@{/blog/{id}(id = ${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富吗？</a></h3>
                            <p class="m-text" th:text="|${blog.description} ...|"> 这么多年我一直在思考关于财富自由的定义，看了百度百科的定义

                                财富自由：就是有足够多的钱和时间做你想做的事情

                                这个定义对我来说虽然有意义，但是没有足够的行动指导意义，所以我自己琢磨出一个自己对财富自由的定义:</p>

                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img th:src="@{${blog.user.avatar}}" src="https://www.machinecurve.com/wp-content/uploads/2019/07/thispersondoesnotexist-1-1022x1024.jpg" alt="avatar" class="ui avatar image">
                                            <div class="content">
                                                <a class="header" th:text="${blog.user.nickname}">Christian Versloot</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar outline icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">26-1-2021</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon" ><span th:text="|${blog.views}|">2431</span></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padding-mini m-padding-tiny m-text-thin" th:text="${blog.type.name}">Cognitive upgrade</a>
                                </div>
                            </div>
                        </div>
                        <div class="five center aligned wide columm ">
                            <a href="#" th:href="@{/blog/{id}(id = ${blog.id})}" target="_blank">
                                <img th:src="@{${blog.firstPicture}}" src="https://images.unsplash.com/photo-1599740746781-315ed467db0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" th:alt="${blog.title}" alt="gray rocky mountain" class="ui rounded image m-content-image">
                            </a>
                        </div>
                    </div>
                </div>
                </div>

        <br><br><br><br><br><br>
        <!--Recommended Blog-->
        <div class="m-container-small m-padding-tb-big" th:if="${page.totalElements} == 0">
            <div class="ui container">
                <!-- header -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h2 class="ui teal header">Recommend Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="ui teal top attached segment m-padded-l">
                    <div class="ui padded vertical segment m-padding-tb-small" th:each="blog : ${recommend.content}">
                        <div class="ui middle mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <h3 class="header center align"><a href="#" th:href="@{/blog/{id}(id = ${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富吗？</a></h3>
                                <p class="m-text" th:text="|${blog.description} ...|"> 这么多年我一直在思考关于财富自由的定义，看了百度百科的定义

                                    财富自由：就是有足够多的钱和时间做你想做的事情

                                    这个定义对我来说虽然有意义，但是没有足够的行动指导意义，所以我自己琢磨出一个自己对财富自由的定义:</p>

                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui small horizontal link list">
                                            <div class="item">
                                                <img th:src="@{${blog.user.avatar}}" src="https://www.machinecurve.com/wp-content/uploads/2019/07/thispersondoesnotexist-1-1022x1024.jpg" alt="avatar" class="ui avatar image">
                                                <div class="content">
                                                    <a class="header" th:text="${blog.user.nickname}">Christian Versloot</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar outline icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">26-1-2021</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon" ><span th:text="|${blog.views}|">2431</span></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padding-mini m-padding-tiny m-text-thin" th:text="${blog.type.name}">Cognitive upgrade</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five center aligned wide columm ">
                                <a href="#" th:href="@{/blog/{id}(id = ${blog.id})}" target="_blank">
                                    <img th:src="@{${blog.firstPicture}}" src="https://images.unsplash.com/photo-1599740746781-315ed467db0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" th:alt="${blog.title}" alt="gray rocky mountain" class="ui rounded image m-content-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="ui bottom attached segment" th:if="${page.totalElements} gt 0">
        <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">
            <a th:href="@{/admin/tags(page = ${page.number}-1)}" th:unless="${page.first}" class="icon item">
                Previos Page
            </a>

            <a th:href="@{/admin/tags(page = ${page.number}+1)}" th:unless="${page.last}" class="icon item">
                Next Page
            </a>
        </div>
    </div>
            </div>
        </div>

    </div>





    <br/>
    <br/>
    <br/>
    <br>


    <!-- 底部 -->
    <footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column m-mobile-hide ">
                    <div class="ui inverted link list">
                        <img th:src="@{/images/qr-code.png}" alt="qr-code" class="ui rounded image" style="width:110px;">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Newest Blog</h4>
                    <div class="ui inverted link list m-text-thin m-text-spaced m-text-lined m-opacity-mini">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">关于刻意练习的清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Talk To Me</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">Email: juanzhe22@gmail.com
                            Instagram: juanzhx_
                        </p>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted m-text-spaced m-text-lined">Blog</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-thin m-text-spaced m-text-lined m-opacity-mini">This is my own blog. This is used to post some coding or some articles that I think is useful as a person. I hope this blog page can help you out in your life.</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div>
                <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">Copyright &copy; 2021   Blog Designed by Ezra Chai</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $("#sidebar").click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        })
    </script>
</body>
</html>
